  <!-- building graphic height generator -->
<section class="building">
    <p><%=building.name %></p>
    <div class="building_bar" style="height: <%= building.height * @adjusted_height %>px">
      <aside><%= building.height %></aside>
    </div>
</section>
