/ building graphic height generator
%section.building
  %p= building.name
  .graceland= controller.distance_calculator(building.zipcode, GRACELAND_ZIP)
  - if controller.gargoyle_ify(building)
    .gargoyle
  .building_bar{:style => "height: #{building.height * @adjusted_height}px"}
    %aside= building.height