  <!-- building graphic height generator -->
<section class="building">
    <div class="building_bar" style="height: <%= building.height * @adjusted_height %>px">
    <%= building.height %>
    </div>
    <p><%=building.name %></p>
</section>