  <!-- building graphic height generator -->
<section class="building">
    <p><%=building.name %></p>
    <div class="building_bar" style="height: <%= building.height * @adjusted_height %>px">

      <p><%= building.height %></p>
    </div>
</section>
