
<div class="buildingname">
  <!-- building graphic height generator -->

    <div class="building" style="height: <%= building.height * @adjusted_height %>px">
    <%= building.height %>
   </div>

    <p><%=building.name %></p>

</div>
