/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require_tree .
 */

* {
  font-family: Futura, sans-serif;
  line-height: 150%;
}

body {
  height: 96%;
  position: relative;
  margin: 5 auto;
  margin-top: 10%;
  background-image: url('grass-border.svg');
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 15%;
  overflow-y:hidden;
  overflow-x:scroll;
}

td {
  padding: 5px;
  border-top: 1px solid #ddd;
}

ul.nav-pills a {
  z-index: 10;
  font-size: 1.3em;
}

/*
#flying_bird {
    background-image: url('flying_bird.gif');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    z-index: -10;
    -webkit-animation-name: flying_bird_animation;
    -webkit-animation-duration: 60s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes flying_bird_animation {
  0% {
    -webkit-transform: translate(6100px, 0px);
    transform: translate(6100px, 0px);
    }
  50% {
    -webkit-transform: translate(2000px, 100px);
    transform: translate(2000px, 100px);
    }
  100% {
    -webkit-transform: translate(-100px, 0px);
    transform: translate(-100px, 0px);
    }
}
*/