// Place all the styles related to the Buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// container for building table
#buildingtable {
  border: 2px black solid;
  border-radius: 10px;
  background: rgba(192, 192, 192, 0.6);
  margin: 3px;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 400px;
  box-shadow: 1px 1px 2px 1px dimgrey;
}

// container menu buttons
#links {
  display: block;
  padding: 5px;
  text-align: center;
}

.building_btn {
  display: inline-block;
  color: white;
  min-width: 40%;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  margin: 2%;
  background-color: black;
  box-shadow: 2px 2px 3px 1px dimgrey;
  &:hover {
    background-color: grey;
  }
  & a {
  color: inherit;
  font-size: 110%;
  text-decoration: none;
  }
}

// spacer b/w building buttons
div.building_btn {
  min-width: 2px;
}

#city_select {
  border-bottom: 1px black solid;
  padding: 20px;
  td {
    display: inline-block;
  }
}

.check_boxes {
  line-height: 2em;
  margin-right: 15px;
}

// the "show selected buildings" button in the menu
#show_slected_city_btn {
  text-align: center;
}

// displayed building name in table
.buildingname {
  text-transform: capitalize;
  font-weight: 600;
}

table {
  margin: auto;
}

#wrapper {
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  text-align: center;
}


// section class for each building bar + name
.building {
  vertical-align: bottom;
  display: inline-block;
  min-width: 80px;
  // p element for building name
  > p {
      color: darkred;
      font-size: 120%;
 }

 .gargoyle {
  background: url('gargoyle-icon.png');
  background-position: center;
  position: relative;
  padding-left: 25px;
  margin: 0 auto -6px auto;;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  }
}

// class for styling individual building bar graphics
.building_bar {
  width: 40px;
  border: 1px black solid;
  background-color: silver;
  margin: auto;
  transition: background-color 2s ease-in-out;
  border-top-left-radius: 12px 200px;
  border-top-right-radius: 12px 200px;
  min-height: 15px;

  &:hover {
          background-color: black;
          }

  // element for building height
  aside {
        position: absolute;
        width: 40px;
        min-height: 15px;
        overflow: hidden;
        bottom: 0px;
        //border: 2px solid black;
        }
}

#flying_bird {
    background-image: url('flying_bird.gif');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    z-index: -10;
    -webkit-animation-name: flying_bird_animation;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes flying_bird_animation {
  0% {
     -webkit-transform: translate(2000px, 0px);
     }
  50% {
      -webkit-transform: translate(500px, 100px);
      }
  100% {
      -webkit-transform: translate(-100px, 0px);
      }
}
